In [25]:
from datavolley import read_dv
import pandas as pd
from datetime import datetime

In [26]:
import urllib.request
datavolleyfile="&stuttgart-schwerin-2018.dvw"
url_source_file = "https://raw.githubusercontent.com/openvolley/ovva/master/inst/extdata/demo/%26stuttgart-schwerin-2018.dvw"
source = urllib.request.urlopen(url_source_file).read().decode('UTF-8')
# Scrittura dei dati in un file locale
with open(datavolleyfile, 'w') as file:
    file.write(source)

In [27]:
# change this if you have your file
datavolleyfile="&stuttgart-schwerin-2018.dvw"

# Reading the file
dvf = read_dv.DataVolley(datavolleyfile)
# extract all the actions
plays = dvf.get_plays()

In [28]:
championship = dvf.match_info.championship
match_day = dvf.match_info.day
match_time = dvf.match_info.time
match_time = datetime.strptime(match_time, "%H.%M.%S").strftime("%H:%M")
match_season = dvf.match_info.season

In [29]:
total_minutes = dvf.sets_info.duration.sum()
hours = total_minutes // 60
minutes = total_minutes % 60

In [30]:
string_sets = ""
duraton_sets = ""
for idx, row in dvf.sets_info.iterrows():
   string_sets += "(" + str(row["home4"]) + "-" + str(row["visitor4"]) + ") "
   duraton_sets += str(row["duration"]) + "',"

In [31]:
dvf.sets_info

,set,home1,visitor1,home2,visitor2,home3,visitor3,home4,visitor4,duration
0,1,8,5,16,10,21,14,25,21,27
1,2,5,8,13,16,16,21,22,25,29
2,3,8,6,15,16,21,20,22,25,30
3,4,8,5,16,13,21,17,25,21,30
4,5,4,5,10,7,12,9,12,15,21

In [32]:
duration_sets = duraton_sets.rstrip(",")

In [33]:
print("""
%s - %s
%s
%s - %s 
%s-%s %s
duration: %s:%sh (%s)
""" % (match_day, match_time, championship, dvf.home_team, 
       dvf.visiting_team, dvf.home_setswon, dvf.visiting_setswon,
       string_sets,str(hours).zfill(2), str(minutes).zfill(2), duration_sets))

21/04/2018 - 19:30
1. Bundesliga Frauen - 1. Bundesliga Frauen - Playoffs
Allianz MTV Stuttgart - SSC Palmberg Schwerin
2-3 (25-21) (22-25) (22-25) (25-21) (12-15)
duration: 02:17h (27',29',30',30',21')

In [34]:
print(dvf.home_team)
print("name\tname")
players = dvf.players_home
players['player_number'] = pd.to_numeric(players['player_number'], errors='coerce')
players = players.sort_values("player_number")
plays = dvf.get_plays()
for idx, row in players.iterrows():
    player_number = row["player_number"]
    player_name = row['player_name'].rstrip()
    player_id = row['player_id']
    points = plays[(plays.player_id == player_id) & plays.skill.isin(['Attack', 'Serve','Block']) & (plays.evaluation_code == "#")].shape[0]
    errors = plays[(plays.player_id == player_id) & plays.skill.isin(['Attack', 'Reception','Dig','Set','Block']) & (plays.evaluation_code == "=")].shape[0]
    print("""%s\t%s (%i,%i)""" % (player_number,player_name, points, errors))
print("coaches")
print(" " + dvf.home_coaches[0])
print(" " + dvf.home_coaches[1])
print("\nin parentheses: number of points, number of errors")

Allianz MTV Stuttgart
name	name
1	Nikoleta Perovic (21,3)
2	Femke Stoltenborg (2,1)
3	Micheli Tomazela Pissinato (0,0)
5	Mallory Grace McCage (16,4)
6	Annie Cesar (0,2)
7	Renata Sandor (12,10)
8	Julia Schaefer (1,1)
10	Pia KÃ¤stner (1,0)
11	Teodora Pusic (0,0)
12	Deborah van Daelen (5,3)
14	Jenna Potts (0,0)
16	Michaela Mlejnkova (18,5)
17	Paige Tapp (7,2)
coaches
 Athanasopoulos Giannis
 Paraschidis I, Miyashiro T

in parentheses: number of points, number of errors

In [35]:
dvf.home_coaches[0]

'Athanasopoulos Giannis'

In [36]:
print(dvf.visiting_team)
print("name\tname")
players = dvf.players_visiting
players['player_number'] = pd.to_numeric(players['player_number'], errors='coerce')
players = players.sort_values("player_number")
plays = dvf.get_plays()
for idx, row in players.iterrows():
    player_number = row["player_number"]
    player_name = row['player_name'].rstrip()
    player_id = row['player_id']
    points = plays[(plays.player_id == player_id) & plays.skill.isin(['Attack', 'Serve','Block']) & (plays.evaluation_code == "#")].shape[0]
    errors = plays[(plays.player_id == player_id) & plays.skill.isin(['Attack', 'Reception','Dig','Set','Block']) & (plays.evaluation_code == "=")].shape[0]
    print("""%s\t%s (%i,%i)""" % (player_number,player_name, points, errors))
print("coaches")
print(" " + dvf.visiting_coaches[0])
print(" " + dvf.visiting_coaches[1])
print("\nin parentheses: number of points, number of errors")

SSC Palmberg Schwerin
name	name
1	Greta SzakmÃ¡ry (25,8)
2	Martenne Julia Bettendorf (0,0)
3	Louisa Lippmann (20,9)
5	Sabrina Krause (0,0)
6	Jennifer Geerties (11,5)
7	Luna Veronica Carocci (0,3)
8	Kaisa Alanko (1,1)
10	Denise Hanke (6,4)
11	Beta Dumancic (12,0)
12	Lauren Barfield (9,0)
14	Elisa Lohmann (0,0)
15	Jelena Oluic (2,0)
16	Marie SchÃ¶lzel (0,0)
coaches
 Koslowski Felix
 Hartmann M, Sens P

in parentheses: number of points, number of errors